[Unit]
Description=Alphonse phone handler
After=multi-user.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/var/lib/alphonse
ExecStart=/usr/bin/python3 /usr/sbin/alphonse.py &> /dev/null

Restart=on-failure

[Install]
WantedBy=multi-user.target

