[Unit]
Description=Alphonse phone pickup - Modem Listener [dotnet console app]
Requires=alphonse.webapi.kestrel.service
After=alphonse.webapi.kestrel.service

[Service]
Type=notify
WorkingDirectory=/var/lib/alphonse
ExecStart=/usr/bin/dotnet /usr/local/lib/alphonse/Alphonse.Listener/Alphonse.Listener.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
#KillSignal=SIGTERM
TimeoutStopSec=10
SyslogIdentifier=alphonse_listener
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH

[Install]
WantedBy=multi-user.target
