#!/usr/bin/env bash
typeset -A webapi_config # init array
# default values - adapt to your needs
webapi_config=(
    [bin_user]="alphonse" # system user, kestrel app will run under this user (don't use root)
    [bin_path]="/usr/local/lib/alphonse/Alphonse.WebApi"
    [data_path]="/var/lib/alphonse"
    [config_path]="/etc/alphonse/webapi.appsettings.json"
    [service_name]="alphonse.webapi.kestrel.service"
    [service_path]="" # dynamic, check bellow
    [service_log_path]="/var/log/Alphonse.WebApi.log"   # TODO load it from appsetting.json
    [publish_log]="/tmp/Alphonse.WebApi.dotnet_publish.log"
)
webapi_config[service_path]="${webapi_config[bin_path]}/systemd/${webapi_config[service_name]}"
