[Unit]
Description=Alphonse phone pickup - WebApi [dotnet kestrel app]

[Service]
WorkingDirectory=/var/lib/alphonse
ExecStart=/usr/bin/dotnet /usr/local/lib/alphonse/Alphonse.WebApi/Alphonse.WebApi.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=alphonse_webapi
User=alphonse
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target