#!/usr/bin/env bash
typeset -A listener_config # init array
# default values - adapt to your needs
listener_config=(
    [bin_path]="/usr/local/lib/alphonse/Alphonse.Listener"
    [config_path]="/etc/alphonse/listener.appsettings.json"
    [service_name]="alphonse.listener.service"
    [service_path]="" # dynamic, check bellow
    [publish_log]="/tmp/Alphonse.Listener.dotnet_publish.log"   
)
listener_config[service_path]="${listener_config[bin_path]}/systemd/${listener_config[service_name]}"
