<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button [disabled]="!(isAuthenticated$ | async)" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Alphonse</span>
        <div class="spacer"></div>
        <button mat-icon-button *ngIf="isAuthenticated$ | async" (click)="logoutClick()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container"
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <mat-list-item  *ngFor="let navItem of navItems"
                                [routerLink]="navItem.routerLink"
                                [routerLinkActive]="['active']"
                    >
                    <mat-icon matListItemIcon>{{navItem.matIcon}}</mat-icon>
                    <span>{{navItem.label}}</span>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="main-content">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>